<mat-selection-list #tasksList
                    [ngStyle]="{'display':
                    visible ? 'block' : 'none'}">
  <ng-container>
    <mat-list-option *ngFor="let task of (dailies$ | async)" [value]="task.task">
      <mat-list-item [class.checked]="checkSelected(task.task)">
        <mat-icon (click)="editTask(task)" aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        <mat-icon (click)="deleteTask(task.id)" aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        {{ task.task }}
      </mat-list-item>

    </mat-list-option>
  </ng-container>
</mat-selection-list>

<div *ngIf="!visible" class="prompt">
  <div>
    <h1>Have a nice day</h1>
    <h2>Time to reach target: {{ getTimeToTarget() | async }} min</h2>
    <h2>Arrival time: {{ (getTimeToTarget() | async) | date:'shortTime' }}</h2>
  </div>
  <div>
    <button mat-fab color="primary" (click)="resetTasks()"> reset</button>
  </div>
</div>
